{% extends 'blog/base.html' %}

{% block title %}
До свидания!
{% endblock %}

{% block content %}
    <p>Вышел! Как мой дядя(нет). T_T</p>
    <p><a href="{% url 'login' %}">Войти опять!(ну, пожалуйста)</a></p>
{% endblock %}