{% extends 'blog/base.html' %}

{% block title %}
Вход
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <h1 style="text-align: center">ВЫ УЖЕ ВОШЛИ!</h1>
    {% else %}
    <h1 style="text-align: center;">Войдите в свой кабинет</h1>
    <form id="login_form" action="{% url 'login' %}" method="post" class="">
        {% csrf_token %}
        <!-- <input class="form-control" type="text"> -->
        <p>
            {{form.username.label_tag}}
            {{form.username}}
        </p>
        <p>
            {{form.password.label_tag}}
            {{form.password}}
        </p>
        <button class="btn btn-warning">
            Войти
        </button>
        {% if form.errors %}
            <p>Неверное имя или пароль, попробуйте восстановить его:</p>
            <p><a href="{% url 'password_reset' %}">Восстановить пароль!</a></p>
        {% endif %}
    </form>
    {% endif %}
{% endblock %}