{% extends 'blog/base.html' %}

{% block title %}
Обратная связь
{% endblock %}

{% block content %}
<section class="container">
    <h1>Свяжитесь с нами!</h1>
    <div class="row">
        <div style="width: 100%">
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                {% if not user.is_authenticated %}
                <p>
                    <label>Имя</label>
                    <input type="text" name="name" class="form-control">
                    <label>Фамилия</label>
                    <input type="text" name="last_name" class="form-control">
                </p>
                <p>
                    <label>Email</label>
                    <input type="email" name="email" name="" id="" class="form-control">
                </p>
                {% endif %}
                <p>
                    <label>Телефон</label>
                    <input type="text" name="phone" class="form-control">
                </p>
                <p>
                    <label>Сообщение</label>
                    <textarea class="form-control" name="message" id="" cols="30" rows="10"></textarea>
                </p>
                <p>
                    <button class="btn btn-success" style="text-align: center;">Отправить</button>
                </p>
            </form>
        </div>
    </div>
</section>
{% endblock %}