{% extends 'blog/base.html' %}

{% block title %}
    Главная
{% endblock %}
{% load static %}
{% block content %}
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/1.jpg'%}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/2.png'%}" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<div class="container-fluid">
    <div class="row">
        {% for post in news %}
        <div class="col-md-3">
            <h3>{{post.title}}</h3>
            {% if post.image.url != null %}
            <img src="{{post.image.url}}" alt="" style="width: 100%">
            {% endif %}
            <p>{{post.summary}}</p>
            <em>{{post.date|date:"D j M, Y"}}</em>
            <em>Просмотров: {{post.views}}</em>
        </div>
        {% endfor %}
    </div>
    <h3 style="text-align: center;">Популярные посты!</h3>
    <div class="row">
      {% for post in popular %}
      <div class="col-md-3">
          <h3>{{post.title}}</h3>
          {% if post.image.url != null %}
          <img src="{{post.image.url}}" alt="" style="width: 100%">
          {% endif %}
          <p>{{post.summary}}</p>
          <em>{{post.date|date:"D j M, Y"}}</em>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}