{% extends 'blog/base.html' %}
{% block title %}
{{post.title}}
{% endblock %}
{% block content %}
{% if post.image.url != null %}
<style>
    .bg-single{
        background: url('{{post.image.url}}'), rgba(0,0,0,.7);
        background-size: cover;
        background-blend-mode: multiply;
        height: 300px;
        text-align: center;
    }
</style>

<section class="container-fluid bg-single">
    <h1>{{post.title}}</h1>
    <p>{{post.summary}}</p>
</section>
{% endif %}
<section class="content">
    <div class="row">
        <h2 style="text-align:center">{{post.title}}</h2>
        {% if post.image.url != null %}
        <img style="text-align: center; width: 100%" src="{{post.image.url}}" alt="">
        {% endif %}
        <p>{{post.content}}</p>
        <em>{{post.date}}</em>
    </div>
</section>
<section>
    <h3>Комментариев: {{post.comment_set.count}}</h3>
    {% for comment in post.comment_set.all %}
    <div>
        <h3>{{comment.author_name}}</h3>
        <p>{{comment.text}}</p>
        <em>{{comment.date|date:"D j M, Y"}}</em>
    </div>
    {% endfor %}
</section>
<section class="content">
        <h3>Оставьте комментарий:</h3>
        <form action="{% url 'leave_comment' post.slug  %}" method="POST">
            {% csrf_token %}
            {% if not user.is_authenticated %}
            <input style="width: 100%" type="text" name="name" class="form-control">
            {% endif %}
            <textarea style="width: 100%" name="text" class="form-control" cols="30" rows="10"></textarea>
            <button type="submit" class="btn btn-success">Отправить</button>
        </form>
</section>
{% endblock %}