{% extends 'blog/base.html' %}
{% block title %}
Форма регистрации
{% endblock %}

{% block content %}
<section class="container">
    <h1>Форма регистрации</h1>
    {% if user.is_authenticated %}
    Ухади
    {% else %}
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button class="btn btn-success">Зарегестрироваться</button>
    </form>
    {% endif %}
</section>
{% endblock %}