{% extends 'blog/base.html' %}

{% block title %}
    Поиск по запросу: {{query}}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Поиск по запросу: {{query}}</h1>
    <div class="row">
        {% for post in search_obj %}
        <div class="col-md-3">
            <h3>{{post.title}}</h3>
            {% if post.image.url != null %}
            <img src="{{post.image.url}}" alt="" style="width: 100%">
            {% endif %}
            <p>{{post.summary}}</p>
            <em>{{post.date}}</em>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}